.dropdown {
    position: relative;
    display: flex;
    align-items: center;
    margin-top: 10px;

}


.dropdownContent {
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    top: 100%;
    margin-top: 50px;
    right: -20px;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;

}

.dropdown:hover .dropdownContent {
    display: block;
}

.dropdownContent span {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdownContent span:hover {
    background-color: #f1f1f1;
}