.navbar {
    background-color: black;
    height: 98px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.logo {
    color: white;
    font-size: 28px;
    font-weight: bold;
}

.rightContainer {
    display: flex;
    align-items: center;
}

.name {
    color: white;
    margin-right: 31px;
    font-size: 22px ;
}

.circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: white;
}