@font-face {
  font-family: 'Poppins';
  src: url('./fonts/Poppins/Poppins-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  list-style: none;
  font-family: 'Poppins', sans-serif;
}


a {
  text-decoration: none;
}

body {
  background: rgb(0, 0, 0);
}


h1 {
  margin: 32px 0;
  font-size: 33px;
}

.complete {
  text-decoration: line-through;
}